canvas{
    margin: 20px;
    height: 50vh;
    padding: 20px;
    margin-left: 0;

}

.graph{
    padding-top: 10px;
    margin: 10px;
    margin-right: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

#dataloader{
    border: 0;
    background-color: white;
    color: black;
}
